#operating-systems-list{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top:20px;
}


    #operating-systems-list .operating-system-item{
        flex: 0 0 auto;
        width: calc(33.3% - 10px);
        position: relative;
    }
        #operating-systems-list .operating-system-item a{
            text-decoration: none;
            color: var(--font-color);
        }
    #delete-operating-system{
        position: absolute;
        top:-5px;
        right:-5px;
    }


.operating-system-card{
    display: flex;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    gap:10px;
}
    .operating-system-card-content{
        border-radius: 5px;
        background-color: rgb(var(--background-color-1),0.5);
        border: 1px solid rgb(var(--theme-color-1),0.5);
        flex:1;
        display: flex;
        padding: 20px 20px;
        padding-right: 30px;
        justify-content: space-between;
        gap:10px;
        transition: 0.2s;
    }
        .operating-system-card-content:hover{
            background-color: rgb(var(--background-color-1),0.7);
            border: 1px solid rgb(var(--theme-color-1),0.7);
        }
        .operating-system-card-name{
            color: var(--font-color);
            font-size: 16px;
        }
        .operating-system-card-gui{
            display: flex;
            line-height: 1em;
            align-items: center;
            gap:10px;
            font-size: 12px;
            /* justify-content: center; */
        }