#loading-page-custom{
    background: linear-gradient(0deg, rgb(43, 40, 78) 0%, rgb(27, 27, 27) 100%);
    color:white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: var(--app-height);
    width:100vw;
}
    #loading-page-custom .loading-logo{
        height: 300px;
    }
    #loading-page-custom h1{
        font-size:40px;
        text-transform: uppercase;
        font-weight: 800;
        color:rgb(222, 240, 237);
        margin-bottom:10px;
    }
    #loading-page-custom p{
        font-size:18px;
        font-weight: 300;
        color:rgb(190, 202, 207);
        margin-bottom:20px;
        text-align: center;
    }
    #loading-page-custom .spinner{
        font-size:18px;
    }